@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
}

#home-container {
    background-image: url(/src/images/teste.webp)
}

#pilot-container {
    background-image: url(/src/images/starships.jpg);
    color: red;
}