@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
}

#home-container {
    background-image: url(/src/images/teste.webp)
}

#img {
    object-fit: fill;
    height: 8rem;
}